ิbody {
  font-family: sans-serif;
}

.menu-warp {
  position: relative;
  display: inline-block;
}

#menu-toggle {
  display: none;
}

.menu-icon {
  font-size: 32px;
  cursor: pointer;
  background-color: #2c3e50;
  color: white;
  padding: 10px 20px;
  display: inline-block;
  border-radius: 5px;
}

.menu-list {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: white;
  border: 1px soild #ccc;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0,0,0,0,2);
  min-width: 150px;
}

.menu-list li {
  border-bottom: 1px soild #eee;
}

.menu-list li a {
  display: block;
  padding: 12px 20px;
  color: #2c3e50;
  text-decoration: none;
}

.menu-list li a:hover {
  background-color: #f0f0f0;
}

#menu-toggle:checked ~ .menu-list {
  display: block;
}


